.full-card a.rent-btn {
  position: absolute;
  top: 12pt;
  left: 22pt;
  z-index: 2;
  cursor: pointer;
  text-transform: capitalize;
  background: #fff;
  color: #dad6d6 !important;
  padding: 4pt 7pt;
  border-radius: 2pt;
  box-shadow: 3px 3px 10px #949494; }
  .full-card a.rent-btn:hover {
    color: #999 !important;
    box-shadow: 4px 4px 5px #777676; }
